<div>
    <h3>Practo Industry</h3>
    <hr>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quasi veritatis omnis? Ipsum quo minima, aliquid, officiis ipsam provident impedit exercitationem aliquam quasi dignissimos, deserunt voluptas obcaecati? Doloribus, magni a? Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis vel atque quos quo repudiandae. Accusamus, nam quam quidem vero saepe odit expedita fuga! Voluptatem minus incidunt, reiciendis earum libero optio.
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, quibusdam veniam. Distinctio, quibusdam. Aperiam, adipisci ullam? Alias neque illo obcaecati eos? Sunt esse praesentium nobis nesciunt reprehenderit fugiat, tenetur debitis. 
    </p>
</div>